<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BTS Members</title>
</head>
<body>
  <section class="main">
    <h1 class="main--title">BTS Members</h1>
    <p class="main--about">
      BTS, an acronym of Bangtan Sonyeondan or “Beyond the Scene,” 
      is a Grammy-nominated South Korean group that has been capturing 
      the hearts of millions of fans globally since its debut in June 2013.<br><br>
      The members of BTS are RM, Jin, SUGA, j-hope, Jimin, V, and Jung Kook. 
      Gaining recognition for their authentic and self-produced music, 
      top-notch performances, and the way they interact with their fans, BTS 
      has established themselves as “21st century Pop Icons” breaking countless world records.<br><br>
      While imparting a positive influence through activities such as 
      the LOVE MYSELF campaign and the UN ‘Speak Yourself’ speech, 
      the band has mobilized millions of fans across the world (named ARMY), 
      collected four No. 1 songs in a span of 9 months, performed multiple 
      sold-out stadium shows across the world, and been named TIME’s Entertainer of the Year 2020. 
      BTS has been nominated for Best Pop Duo/Group Performance for the 63rd Grammy Awards 
      and recognized with numerous prestigious awards like the Billboard Music Awards, 
      American Music Awards and MTV Video Music Awards.
    </p>
  </section>
  <div class="member-cards">
    {_MEMBER_CARDS_}
  </div>
</body>
</html>